* {
    cursor: pointer;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: Helvetica,Arial,sans-serif;
    color: white;
    font-size: 10vh;
    background-color: #2b87d1;
    
    user-select:none
}

#click {
    flex: 7;
    position: relative;
    height: 100vh;

    #button {
        width: 100%;
        height: 100vh;
        background-color: transparent;
        z-index: 9999;
        position: absolute;
    }

    #messages {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        pointer-events: none;

        #startMessage {
            div:first-child {
                opacity: 0;
                animation: fadeIn 0.5s ease-in-out forwards;
            }
            div:nth-child(2) {
                font-size: 3vh;
                opacity: 0;
                animation: fadeIn 1s ease-in-out forwards;
            }
            div:last-child {
                font-size: 3vh;
                opacity: 0;
                animation: fadeIn 1.5s ease-in-out forwards;
            }
        }
        #timeMessage {
            div:last-child {
                font-size: 3vh;
            }
        }
        #errorMessage {
            div:last-child {
                font-size: 3vh;
            }
        }
    }
}

#score {
    flex: 1;
    background-color: #252526;
    display: flex;
    flex-direction: column;

    #title1 {
        font-size: 2vh;
        margin: 1vh 1vh 0 1vh;
        display: flex;
        flex-direction: column;
        padding-bottom: 1vh;
        border-bottom: 1px solid white;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
        
        #scoreTitle {
            font-size: 4vh;
            align-self: center;
            margin-bottom: 1vh;
        }
        #best{
            margin-left: 3.37vh;
            margin-bottom: 0.5vh;
        }
    }
    #title2 {
        margin-top: 1vh;
        font-size: 0.7vw;
        align-self: center;
    }

    button{
        font-size: 0.8vw;
        width: 3.6vw;
        border: none;
        padding: 0px;
        color: white;
        border-bottom: 1px solid white;
        background-color: transparent;
        margin-left: 1vw;
    }

    #title3 {
        margin-top: 1vh;
        margin-bottom: 0.5vh;
        font-size: 2vh;
    }

    #developer {
        color: white;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
        align-self: center;
        font-size: 0.9vw;
        position: absolute;
        bottom: 1vh;
        a {
            all: initial;
            color: white;
            font-size: 0.9vw;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}